force-app/main/default/flows/RD_REAP_Loan_Application.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Add_To_Collection_of_Equpipment</name>
        <label>Add To Collection of Equpipment</label>
        <locationX>644</locationX>
        <locationY>722</locationY>
        <assignmentItems>
            <assignToReference>varProejctEquipment</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varProjectEqupipment2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Project_Information</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Values_To_Item</name>
        <label>Assign Values To Item</label>
        <locationX>644</locationX>
        <locationY>614</locationY>
        <assignmentItems>
            <assignToReference>varProjectEqupipment2.RD_REAP_Construction_Item__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Construction_Items</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varProjectEqupipment2.RD_REAP_Item_Cost__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Cost</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varProjectEqupipment2.REAP_Application__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CreateApplication</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_To_Collection_of_Equpipment</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>A_Energy_Efficiency_Improvement</name>
        <choiceText>Energy Efficiency Improvement</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Energy Efficiency Improvement</stringValue>
        </value>
    </choices>
    <choices>
        <name>Agricultural_Producer</name>
        <choiceText>Agricultural Producer</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Agricultural Producer </stringValue>
        </value>
    </choices>
    <choices>
        <name>AmInGoodStanding</name>
        <choiceText>I, the applicant, being a legal entity&lt;strong&gt; &lt;u&gt;am&lt;/u&gt; &lt;/strong&gt;in good standing and operating in accordance with the laws of the State(s) or Tribe where I, the Applicant, have a place of business.</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>AMInGoodStanding</stringValue>
        </value>
    </choices>
    <choices>
        <name>AmNotInGoodStanding</name>
        <choiceText>I, the applicant, being a legal entity &lt;strong&gt;&lt;u&gt;am&lt;/u&gt; &lt;u&gt;not&lt;/u&gt;&lt;/strong&gt; in good standing and operating in accordance with the laws of the State(s) or Tribe where I, the Applicant, have a place of business</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>AmNotInGoodStanding</stringValue>
        </value>
    </choices>
    <choices>
        <name>Anaerobic_Digester</name>
        <choiceText>Anaerobic Digester</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Anaerobic Digester</stringValue>
        </value>
    </choices>
    <choices>
        <name>Asian</name>
        <choiceText>Asian</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Asian</stringValue>
        </value>
    </choices>
    <choices>
        <name>Asian_Indian_or_Alaska_Native</name>
        <choiceText>Asian Indian or Alaska Native</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Asian Indian or Alaska Native</stringValue>
        </value>
    </choices>
    <choices>
        <name>Biogas_including_landfill_gas</name>
        <choiceText>Biogas (including landfill gas)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Biogas (including landfill gas)</stringValue>
        </value>
    </choices>
    <choices>
        <name>BTU</name>
        <choiceText>BTU</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>BTU</stringValue>
        </value>
    </choices>
    <choices>
        <name>Costs_of_less_than_200_000_but_more_than_80_000</name>
        <choiceText>Costs of less than $200,000 but more than $80,000</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Costs of less than $200,000 but more than $80,000</stringValue>
        </value>
    </choices>
    <choices>
        <name>Energy_Efficiency_Improvement</name>
        <choiceText>Energy Efficiency Improvement</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Energy Efficiency Improvement</stringValue>
        </value>
    </choices>
    <choices>
        <name>Female</name>
        <choiceText>Female</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Female</stringValue>
        </value>
    </choices>
    <choices>
        <name>HAVE</name>
        <choiceText>I, the applicant, &lt;strong&gt;have received&lt;/strong&gt; any grants and/or guaranteed loans under the REAP program.&lt;strong&gt;﻿&lt;/strong&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>HAVE</stringValue>
        </value>
    </choices>
    <choices>
        <name>HaveNot</name>
        <choiceText>I, the applicant, &lt;strong&gt;have not&lt;/strong&gt;, received any grants and/or guaranteed loans under the REAP program.</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>HaveNot</stringValue>
        </value>
    </choices>
    <choices>
        <name>Hispanic_or_Latino</name>
        <choiceText>Hispanic or Latino</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Hispanic or Latino</stringValue>
        </value>
    </choices>
    <choices>
        <name>Hybrid</name>
        <choiceText>Hybrid</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Hybrid</stringValue>
        </value>
    </choices>
    <choices>
        <name>KnownRelationship</name>
        <choiceText>This is to certify that I, as the Applicant, &lt;strong&gt;have a known&lt;/strong&gt; relationship or association with a Rural Development</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>KnownRelationship</stringValue>
        </value>
    </choices>
    <choices>
        <name>kWh</name>
        <choiceText>kWh</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>kWh</stringValue>
        </value>
    </choices>
    <choices>
        <name>Male</name>
        <choiceText>Male</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Male</stringValue>
        </value>
    </choices>
    <choices>
        <name>Native_Hawaiian_or_Other_Pacific_Islander</name>
        <choiceText>Native Hawaiian or  Other Pacific Islander</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Native Hawaiian or  Other Pacific Islander </stringValue>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>NoKnownRelationship</name>
        <choiceText>This is to certify that I, as the Applicant, &lt;strong&gt;have no known&lt;/strong&gt; relationship or association with a Rural Development employee.</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>NoKnownRelationship</stringValue>
        </value>
    </choices>
    <choices>
        <name>Not_Hispanic_or_Latino</name>
        <choiceText>Not Hispanic or Latino</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Not Hispanic or Latino </stringValue>
        </value>
    </choices>
    <choices>
        <name>NotApplicableGoodStanding</name>
        <choiceText>Not applicable, I am applying as a sole proprietor.</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>NotApplicableGoodStanding</stringValue>
        </value>
    </choices>
    <choices>
        <name>Other_Unit</name>
        <choiceText>Other Unit</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other Unit</stringValue>
        </value>
    </choices>
    <choices>
        <name>Renewable_Energy_System_emits_GHGE</name>
        <choiceText>Renewable Energy System (emits GHGE)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Renewable Energy System (emits GHGE)</stringValue>
        </value>
    </choices>
    <choices>
        <name>Renewable_Energy_System_Non_GHGE</name>
        <choiceText>Renewable Energy System (Non-GHGE)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Renewable Energy System (Non-GHGE)</stringValue>
        </value>
    </choices>
    <choices>
        <name>Retrofit_of_existing_RES_Non_GHGE</name>
        <choiceText>Retrofit of existing RES (Non-GHGE)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Retrofit of existing RES (Non-GHGE)</stringValue>
        </value>
    </choices>
    <choices>
        <name>Rural_Small_Business</name>
        <choiceText>Rural Small Business</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Rural Small Business</stringValue>
        </value>
    </choices>
    <choices>
        <name>Solar_Electric_PV</name>
        <choiceText>Solar: Electric (PV)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Solar: Electric (PV)</stringValue>
        </value>
    </choices>
    <choices>
        <name>Thermal</name>
        <choiceText>Thermal</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue> Thermal</stringValue>
        </value>
    </choices>
    <choices>
        <name>Total_Project_Costs_of_200_000_and_greater</name>
        <choiceText>Total Project Costs of $200,000 and greater</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Total Project Costs of $200,000 and greater</stringValue>
        </value>
    </choices>
    <choices>
        <name>Total_Project_Costs_of_80_000_or_less</name>
        <choiceText>Total Project Costs of $80,000 or less</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Total Project Costs of $80,000 or less</stringValue>
        </value>
    </choices>
    <choices>
        <name>Total_Project_Costs_of_less_than_200_000_but_more_than_80_000</name>
        <choiceText>Total Project Costs of less than $200,000 but more than $80,000</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Total Project Costs of less than $200,000 but more than $80,000</stringValue>
        </value>
    </choices>
    <choices>
        <name>White</name>
        <choiceText>White</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>White</stringValue>
        </value>
    </choices>
    <choices>
        <name>with_storage_component</name>
        <choiceText>with storage component</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>with storage component</stringValue>
        </value>
    </choices>
    <choices>
        <name>X11NAICSCODE</name>
        <choiceText>11</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>11</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Add_Equipment_Decision</name>
        <label>Add Equipment Decision</label>
        <locationX>776</locationX>
        <locationY>506</locationY>
        <defaultConnector>
            <targetReference>Create_Equipment_Item</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Do not add</defaultConnectorLabel>
        <rules>
            <name>Yes_Add_Equipment_outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AddConstructionItem.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Values_To_Item</targetReference>
            </connector>
            <label>Yes Add Equipment outcome</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>MainCorporateOfficeStateChoiceSet</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>RD_REAP_Main_Corporate_Office__c</picklistField>
        <picklistObject>RD_REAP_Application__c</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>forPriceperUnit</name>
        <dataType>Currency</dataType>
        <expression>{!Price_UnitEnergySold} * {!Total_Estimated_GenerationEnergySold}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>RD REAP Loan Application {!$Flow.CurrentDateTime}</interviewLabel>
    <label>RD REAP Loan Application</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Equipment_Item</name>
        <label>Create Equipment Item</label>
        <locationX>908</locationX>
        <locationY>614</locationY>
        <connector>
            <targetReference>Service_Providers_Information</targetReference>
        </connector>
        <inputReference>varProejctEquipment</inputReference>
    </recordCreates>
    <recordCreates>
        <name>CreateApplication</name>
        <label>CreateApplication</label>
        <locationX>776</locationX>
        <locationY>290</locationY>
        <connector>
            <targetReference>Project_Information</targetReference>
        </connector>
        <inputAssignments>
            <field>RD_REAP_First_Name__c</field>
            <value>
                <elementReference>Applicant_First_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RD_REAP_Last_Name__c</field>
            <value>
                <elementReference>Applicant_Last_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RD_REAP_Race__c</field>
            <value>
                <elementReference>What_is_Applicant_s_race_check_all_that_apply</elementReference>
            </value>
        </inputAssignments>
        <object>RD_REAP_Application__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Attatchments_Screen</name>
        <label>Attatchments Screen</label>
        <locationX>908</locationX>
        <locationY>1369</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Cirtification_AcceptanceScreen</targetReference>
        </connector>
        <fields>
            <name>xvi_Attach_the_following_if_not_already_submitted</name>
            <fieldText>xvi. Attach the following if not already submitted</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>xvi_Attach_the_following_if_not_already_submitted_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Form_SF_424Attachment</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Form SF 424, “Application for Federal Assistance”.</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Form_SF_424CAttachment</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Form SF-424C, “Budget Information-Construction Programs”.</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Form_SF_424DAttachment</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Form SF-424D, “Assurances Construction Programs”.</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Environmental_documentationAttachment</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Environmental documentation per 7 C.F.R. 1970.</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Vendor_Installer_CertificationAttachment</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Vendor/Installer Certification.</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Renewable_Energy_Resource_documentationAttachment</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Renewable Energy Resource documentation (if not included in vendor/installer certification).</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>RES_historical_utility_billsAttachment</name>
                    <dataType>Boolean</dataType>
                    <fieldText>RES Replacement-Minimum of 12 months historical utility bills</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>RES_Rate_Energy_Quantity_documentationAttachment</name>
                    <dataType>Boolean</dataType>
                    <fieldText>RES Rate &amp; Energy Quantity documentation: PPA/Net metering or crediting policies/Letter from Utility.</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Energy_Audit_or_Energy_AssessmentAttachment</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Energy Audit or Energy Assessment with a minimum of 12 months historical utility bills.</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Matching_funds_documentationAttachment</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Matching funds documentation.</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Feasibility_Study_Attachment</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Feasibility Study, as necessary, for Renewable Energy System projects.</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Other_Attachments_Describe</name>
                    <dataType>String</dataType>
                    <fieldText>Other Attachments (Describe)</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>OtherAttachments</name>
                    <extensionName>forceContent:fileUpload</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Other Files Upload </stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Attestations_And_Certifications_Screen</name>
        <label>Attestations And Certifications Screen</label>
        <locationX>908</locationX>
        <locationY>1262</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Attatchments_Screen</targetReference>
        </connector>
        <fields>
            <name>xii_Relationship</name>
            <fieldText>xii Relationship</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>xii_Relationship_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Relationship_Certification</name>
                    <choiceReferences>NoKnownRelationship</choiceReferences>
                    <choiceReferences>KnownRelationship</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Relationship Certification</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>NameofRelationship</name>
                    <dataType>String</dataType>
                    <fieldText>If there is a known relationship, please indicate the name of the Rural Development employee:</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Relationship_Certification</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>KnownRelationship</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>III_Previous_Funding</name>
            <fieldText>xiii Previous Funding:</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>III_Previous_Funding_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>PerviousFundingCertification</name>
                    <choiceReferences>HAVE</choiceReferences>
                    <choiceReferences>HaveNot</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Previous Funding Certification</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Explain_previous_funding</name>
                    <fieldText>If grants or guaranteed loans have been received, identify each grant and/or guaranteed loan, date received, and describe the progress that has been made on each project, including projected schedules and actual completions dates, if applicable:</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>xiv_Good_Standing</name>
            <fieldText>xiv. Good Standing</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>xiv_Good_Standing_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>GoodStandingAttestation</name>
                    <choiceReferences>AmInGoodStanding</choiceReferences>
                    <choiceReferences>AmNotInGoodStanding</choiceReferences>
                    <choiceReferences>NotApplicableGoodStanding</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Good Standing Certification</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>xv_Certifications</name>
            <fieldText>xv. Certifications:</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>xv_Certifications_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>CertifyDisplayText</name>
                    <fieldText>&lt;p&gt;The Applicant certifies to each of the following by checking the box below. (The Agency reserves the right to request additional information to substantiate the certifications(s).)&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>CertificationA</name>
                    <dataType>Boolean</dataType>
                    <fieldText>A. The applicant meets each of the applicant eligibility criteria found in 7 C.F.R. 4280.112.</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>CertificationB</name>
                    <dataType>Boolean</dataType>
                    <fieldText>B. The proposed project meets each of the project eligibility requirements found in 7 C.F.R. 4280.113.</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>CertificationC</name>
                    <dataType>Boolean</dataType>
                    <fieldText>C. Per 7 C.F.R. 4280.113, the applicant acknowledges caution against taking any actions or incurring any obligations prior to  the Agency’s environmental review that limits the range of alternatives or has an adverse effect on the environment, such  initiation of construction. If taken, it could result in project ineligibility.</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>CertificationD</name>
                    <dataType>Boolean</dataType>
                    <fieldText>D. The applicant meets the criteria for submitting an application for projects with Total Project Costs of $80,000 or less.</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>CertificationE</name>
                    <dataType>Boolean</dataType>
                    <fieldText>E. The applicant or the applicant’s prime contractor assumes all risk and responsibilities of project development, including  interim financing, including during construction. The applicant is solely responsible for the execution of all contracts, and  Agency review and approval is not required.</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>CertificationF</name>
                    <dataType>Boolean</dataType>
                    <fieldText>F. Construction planning and performing development will be performed in compliance with 7 C.F.R. 4280.120(c).</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>CertificationG</name>
                    <dataType>Boolean</dataType>
                    <fieldText>G. The applicant agrees not to request reimbursement from funds obligated under this program until after the project has been  completed and is operating in accordance with the information provided in the application for the project.</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>CertificationH</name>
                    <dataType>Boolean</dataType>
                    <fieldText>H. The applicant will maintain insurance coverage as required under 7 C.F.R. 4280.123 (b).</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Certification_i</name>
                    <dataType>Boolean</dataType>
                    <fieldText>I. The design, engineering, testing, and monitoring will be sufficient to demonstrate that the proposed project will meet its  intended purpose.</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>CertificationJ</name>
                    <dataType>Boolean</dataType>
                    <fieldText>J. The equipment required for the project is available, can be procured and delivered within the proposed project development  schedule, and will be installed in conformance with manufacturer’s specifications and design requirements. This would not  be applicable when equipment is not part of the project.</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>CertificationK</name>
                    <dataType>Boolean</dataType>
                    <fieldText>K. The project will be constructed in accordance with applicable laws, regulations, agreements, permits, codes, and standards.</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>CertificationL</name>
                    <dataType>Boolean</dataType>
                    <fieldText>L. The applicant will abide by the open and free competition requirements in compliance with 7 C.F.R. 4280.125(a)(1).</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>CertificationM</name>
                    <dataType>Boolean</dataType>
                    <fieldText>M. The applicant will abide by the equal employment opportunity requirements in compliance with 7 C.F.R. 4280.125(a)(2).</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>CertificationN</name>
                    <dataType>Boolean</dataType>
                    <fieldText>N. For bioenergy projects only, that any and all woody biomass feedstock from National Forest System land or public lands  cannot be used as a higher value wood-based product.</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Cirtification_AcceptanceScreen</name>
        <label>Cirtification &amp; AcceptanceScreen</label>
        <locationX>908</locationX>
        <locationY>1478</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>CertificationAndAcceptanceSection</name>
            <fieldText>xvii. Certification of Documentation and Acceptance:</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>CertificationAndAcceptanceSection_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>CertificationAndAcceptanceDisplayText</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;CERTIFICATION AND ACCEPTANCE I certify that, to the best of my knowledge and belief, the information included with this Application, including all attachments, are true and correct, and that I certify to each of the conditions specified in Section XII-XVI of this application. AGRICULTURAL PRODUCER \ RURAL SMALL BUSINESS&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Commitment_of_Funds_Screen</name>
        <label>Commitment of Funds Screen</label>
        <locationX>908</locationX>
        <locationY>1154</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Attestations_And_Certifications_Screen</targetReference>
        </connector>
        <fields>
            <name>xi_Commitment_of_Funds</name>
            <fieldText>xi. Commitment of Funds:</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>xi_Commitment_of_Funds_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>CommitmentofFundsDisplayText</name>
                    <fieldText>&lt;p&gt;Commitment of Funds: Documentation is required to be attached for points under the commitment of funds scoring criteria.&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Commitment_of_Funds_Screen_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Commitment_of_Funds_Screen_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Source1</name>
                    <dataType>String</dataType>
                    <fieldText>Source</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Source2</name>
                    <dataType>String</dataType>
                    <fieldText>Source</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Source3</name>
                    <dataType>String</dataType>
                    <fieldText>Source</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Source4</name>
                    <dataType>String</dataType>
                    <fieldText>Source</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Commitment_of_Funds_Screen_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Amount1</name>
                    <dataType>Currency</dataType>
                    <fieldText>Amount</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>Amount2</name>
                    <dataType>Currency</dataType>
                    <fieldText>Amount</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>Amount3</name>
                    <dataType>Currency</dataType>
                    <fieldText>Amount</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>Amount4</name>
                    <dataType>Currency</dataType>
                    <fieldText>Amount</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Commitment_of_Funds_Screen_Section2_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>CommitmentofFundsDocumentation1</name>
                    <extensionName>forceContent:fileUpload</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Commitment of Funds Documentation</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>CommitmentofFundsDocumentation2</name>
                    <extensionName>forceContent:fileUpload</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Commitment of Funds Documentation</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>CommitmentofFundsDocumentation3</name>
                    <extensionName>forceContent:fileUpload</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Commitment of Funds Documentation</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>CommitmentofFundsDocumentation4</name>
                    <extensionName>forceContent:fileUpload</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Commitment of Funds Documentation</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Energy_Efficiency_Improvement_Projects_Technical_Requirement</name>
        <label>Energy Efficiency Improvement Projects - Technical Requirements:</label>
        <locationX>908</locationX>
        <locationY>938</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Environmental_Benefits_Screen</targetReference>
        </connector>
        <fields>
            <name>Energy_Efficiency_Improvement_Projects_Technical_Requirements</name>
            <fieldText>ix. Energy Efficiency Improvement Projects</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Energy_Efficiency_Improvement_Projects_Technical_Requirements_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>TechnicalRequirementDisplayText</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Technical Requirements: &lt;/strong&gt;Prepare technical report in accordance with 7 C.F.R. 4280.120 (b) (3). (If project is a Renewable Energy System, go to Block VIII.) &lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;1. Provide a vendor/installer certification that: &lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;a. the EEI meets the requirements for being commercially available; &lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;b. the EEI system will operate and perform over the project’s useful life in a reliable and cost-effective manner, &lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;c. the vendor/installer is qualified to complete the project as intended, noting the number of years experience with the proposed EEI technology.&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>TechnicalCertificationorReportUpload</name>
                    <extensionName>forceContent:fileUpload</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Technical Certification or Report (as applicable) attached</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>EnergyAssessmentDisplaytext</name>
            <fieldText>&lt;p&gt;2. Provide energy assessment (or energy audit) as required under Section C of Appendix A and qualifications of person or entity completing the audit/assessment. Energy Assessment or Energy Audit (as applicable) attached&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>EnergyAuditUpload</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Energy Audit</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>EnergyAssessmentorAudit</name>
            <fieldText>&lt;p&gt;A. Existing usage as per Energy Assessment or Energy Audit:&amp;nbsp;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Energy_Efficiency_Improvement_Projects_Technical_Requirement_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Energy_Efficiency_Improvement_Projects_Technical_Requirement_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Electricity_kWh_Energy_used_audit</name>
                    <dataType>Number</dataType>
                    <fieldText>Electricity (kWh) Energy used</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>Propane_LP_gal_used_audit</name>
                    <dataType>Number</dataType>
                    <fieldText>Propane/LP (gal) used</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>Natural_Gas_therm_used_audit</name>
                    <dataType>Number</dataType>
                    <fieldText>Natural Gas (therm) used</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>Diesel_gal_used_audit</name>
                    <dataType>Number</dataType>
                    <fieldText>Diesel (gal) used</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>Other_used_audit</name>
                    <dataType>Number</dataType>
                    <fieldText>Other used</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Energy_Efficiency_Improvement_Projects_Technical_Requirement_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Electricity_Usage_Conversion</name>
                    <dataType>Currency</dataType>
                    <fieldText>Electricity Usage Conversion</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;usage x 3,412btu/kWh=&lt;/p&gt;</helpText>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>Propane_Usage_Conversion</name>
                    <dataType>Currency</dataType>
                    <fieldText>Propane Usage Conversion</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;usage x 91,502btu/gal=&lt;/p&gt;</helpText>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>Natural_Gas_Usage_Conversion</name>
                    <dataType>Currency</dataType>
                    <fieldText>Natural Gas Usage Conversion</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;usage x 100,000btu/therm=&lt;/p&gt;</helpText>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>Diesel_Usage_Conversion</name>
                    <dataType>Currency</dataType>
                    <fieldText>Diesel Usage Conversion</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;usage&amp;nbsp;x 139,000btu/gal=&amp;nbsp;&lt;/p&gt;</helpText>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>Other_Usage_Conversion</name>
                    <dataType>Currency</dataType>
                    <fieldText>Other Usage Conversion</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;show conversion&lt;/p&gt;</helpText>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>ProposedUsageDisplayText</name>
            <fieldText>&lt;p&gt;B. Proposed (estimated) usage following completion of the project as per Energy Assessment or Energy Audit:&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Energy_Efficiency_Improvement_Projects_Technical_Requirement_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Energy_Efficiency_Improvement_Projects_Technical_Requirement_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Electricity_kWh_Energy_proposed</name>
                    <dataType>Number</dataType>
                    <fieldText>Electricity (kWh) Energy proposed usage</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>Propane_LP_gal_proposed</name>
                    <dataType>Number</dataType>
                    <fieldText>Propane/LP (gal) proposed usage</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>Natural_Gas_therm_proposed_usage</name>
                    <dataType>Number</dataType>
                    <fieldText>Natural Gas (therm) proposed usage</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>Diesel_gal_proposed_usage</name>
                    <dataType>Number</dataType>
                    <fieldText>Diesel (gal) proposed usage</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>Other_proposed_usage</name>
                    <dataType>Number</dataType>
                    <fieldText>Other proposed usage</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Energy_Efficiency_Improvement_Projects_Technical_Requirement_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Electricity_Usage_Proposed_Conversion</name>
                    <dataType>Currency</dataType>
                    <fieldText>Electricity Usage Conversion</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>Propane_UsageProposed_Conversion</name>
                    <dataType>Currency</dataType>
                    <fieldText>Propane Usage Conversion</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>Natural_Gas_Usage_Proposed_Conversion</name>
                    <dataType>Currency</dataType>
                    <fieldText>Natural Gas Usage Conversion</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>Diesel_Usage_Proposed_Conversion</name>
                    <dataType>Currency</dataType>
                    <fieldText>Diesel Usage Conversion</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>Other_Usage_Proposed_Conversion</name>
                    <dataType>Currency</dataType>
                    <fieldText>Other Usage Conversion</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Total_Energy_SavingsCalculation</name>
            <dataType>Number</dataType>
            <fieldText>C. Total Energy Savings</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;Calculation: Total BTU Existing - &amp;nbsp;Total BTU Proposed = Total BTU Savings&lt;/p&gt;</helpText>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>D_Percent_Energy_SavingsCalculation</name>
            <dataType>Number</dataType>
            <fieldText>D. Percent Energy Savings</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Calculation: Total BTU Savings / Total BTU Exsiting = % Savings&amp;nbsp;&lt;/span&gt;&lt;/p&gt;</helpText>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>E_Dollar_SavingsCalculation</name>
            <dataType>Number</dataType>
            <fieldText>E. Dollar Savings</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;Calculation: Total Existing Energy Cost - = Dollars Saved&lt;/p&gt;</helpText>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>F_EEI_Simple_Payback</name>
            <dataType>Number</dataType>
            <fieldText>F. EEI Simple Payback</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;Calculation: (Total project costs (D 1 b) $ / = years F. annual energy savings value (Vlll E.) $&lt;/p&gt;</helpText>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Environmental_Benefits_Screen</name>
        <label>Environmental Benefits Screen</label>
        <locationX>908</locationX>
        <locationY>1046</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Commitment_of_Funds_Screen</targetReference>
        </connector>
        <fields>
            <name>x_Environmental_Benefits</name>
            <fieldText>x. Environmental Benefits</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>x_Environmental_Benefits_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>EnvironmentalBenefitsDisplayText</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Environmental Benefits: &lt;/strong&gt;Please provide a detailed narrative or analysis where applicable to support the project&apos;s impact on the following:&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>A_Will_the_project_convert_farmland_and_if_so_how_many_acres</name>
            <dataType>String</dataType>
            <fieldText>A. Will the project convert farmland and if so, how many acres?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>B_Will_the_project_contribute_to_deforestation_or_address_fire_hazards_on_forest</name>
            <dataType>String</dataType>
            <fieldText>B. Will the project contribute to deforestation or address fire hazards on forest lands?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>C_Will_the_project_conserve_water_and_if_so_how_much</name>
            <dataType>String</dataType>
            <fieldText>C. Will the project conserve water and if so, how much?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>D_Does_the_project_comply_with_the_Environmental_Protection_Agency_s_renewable_f</name>
            <dataType>String</dataType>
            <fieldText>D. Does the project comply with the Environmental Protection Agency&apos;s renewable fuel standards?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>E_Are_at_least_25_percent_of_the_project_components_biobased</name>
            <dataType>String</dataType>
            <fieldText>E. Are at least 25 percent of the project components biobased?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Project_Information</name>
        <label>Project Information</label>
        <locationX>777</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Add_Equipment_Decision</targetReference>
        </connector>
        <fields>
            <name>Total_Project_CostSection</name>
            <fieldText>Total Project Cost</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Total_Project_CostSection_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Project_Total_CostChoice</name>
                    <choiceReferences>Total_Project_Costs_of_80_000_or_less</choiceReferences>
                    <choiceReferences>Total_Project_Costs_of_less_than_200_000_but_more_than_80_000</choiceReferences>
                    <choiceReferences>Total_Project_Costs_of_200_000_and_greater</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Project Total Cost</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>FinancialInformationDisplaytext</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Financial Information: &lt;/strong&gt;For projects with total project costs of $200,000 or more, attach required financial information for the total operation and all entity(ies) it controls or is controlled by. If business assets are held personally, prepare financials using only the assets and liabilities attributable to the business.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Project_Total_CostChoice</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Total_Project_Costs_of_200_000_and_greater</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>HistoricalFinancialStatements</name>
            <fieldText>&lt;p&gt;A. Historical Financial Statements for the past three years:&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Project_Total_CostChoice</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Total_Project_Costs_of_200_000_and_greater</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>TestingRecurrence</name>
            <extensionName>healthcloud:recurrencePatternSelection</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Project_Information_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Project_Information_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>HistoricalIncome_Statement_Year1</name>
                    <dataType>String</dataType>
                    <fieldText>Income Statement Year</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>HistoricalIncome_Statement_Year2</name>
                    <dataType>String</dataType>
                    <fieldText>Income Statement Year</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>HistoricalIncome_Statement_Year3</name>
                    <dataType>String</dataType>
                    <fieldText>Income Statement Year</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Project_Information_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Balance_Sheet_Date1</name>
                    <dataType>Date</dataType>
                    <fieldText>Balance Sheet – Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Balance_Sheet_Date2</name>
                    <dataType>Date</dataType>
                    <fieldText>Balance Sheet – Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Balance_Sheet_Date3</name>
                    <dataType>Date</dataType>
                    <fieldText>Balance Sheet – Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Project_Information_Section2_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>FinancialStatement1</name>
                    <extensionName>forceContent:fileUpload</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue> Financial Statement Upload</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>FinancialStatement2</name>
                    <extensionName>forceContent:fileUpload</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Financial Statement Upload</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>FinancialStatement3</name>
                    <extensionName>forceContent:fileUpload</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Financial Statement Upload</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Project_Total_CostChoice</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Total_Project_Costs_of_200_000_and_greater</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>CurrentFinancialStatements</name>
            <fieldText>&lt;p&gt;B. Current Financial Statements:&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Project_Total_CostChoice</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Total_Project_Costs_of_200_000_and_greater</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Project_Information_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Project_Information_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>CurrentIncome_Statement_Year</name>
                    <dataType>String</dataType>
                    <fieldText>Income Statement Year</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>CurrentBalance_Sheet_Date</name>
                    <dataType>Date</dataType>
                    <fieldText>Balance Sheet – Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Project_Information_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>CurrentIncome_Statement_Upload</name>
                    <extensionName>forceContent:fileUpload</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Current Income Statement Upload</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>CurrentBalance_Sheet_Upload</name>
                    <extensionName>forceContent:fileUpload</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Current Balance Sheet Upload</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Project_Information_Section3_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Project_Total_CostChoice</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Total_Project_Costs_of_200_000_and_greater</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>ProFormaFinancialStatements</name>
            <fieldText>&lt;p&gt;C. Pro Forma Financial Statements (include assumptions):&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Project_Total_CostChoice</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Total_Project_Costs_of_200_000_and_greater</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Project_Information_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Project_Information_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ProformaBalanceSheet</name>
                    <fieldText>&lt;p&gt;Pro Forma Balance Sheet at Start-up of Operation (include grant award or loan proceeds):&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Project_Information_Section4_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ProformaBalanceSheetDate</name>
                    <dataType>Date</dataType>
                    <fieldText>Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Project_Information_Section4_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ProFormaBalanceSheetUpload1</name>
                    <extensionName>forceContent:fileUpload</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Pro Forma Balance Sheet Upload</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Project_Total_CostChoice</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Total_Project_Costs_of_200_000_and_greater</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Project_Information_Section5</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Project_Information_Section5_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Year_1_Pro_Forma_Balance_Sheet_Date</name>
                    <dataType>Date</dataType>
                    <fieldText>Year 1 Pro-Forma Balance Sheet: Date:</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>ear_2_Pro_Forma_Balance_Sheet_Date</name>
                    <dataType>Date</dataType>
                    <fieldText>ear 2 Pro-Forma Balance Sheet: Date:</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Project_Information_Section5_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Income_Statement_Year1</name>
                    <dataType>String</dataType>
                    <fieldText>Income Statement Year</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Income_Statement_Year2</name>
                    <dataType>String</dataType>
                    <fieldText>Income Statement Year</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Project_Information_Section5_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Cash_Flow_Year1</name>
                    <dataType>String</dataType>
                    <fieldText>Cash Flow Year</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Cash_Flow_Year2</name>
                    <dataType>String</dataType>
                    <fieldText>Cash Flow Year</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Project_Information_Section5_Column4</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ProFormaBalanceSheetUpload2</name>
                    <extensionName>forceContent:fileUpload</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Pro Forma Balance Sheet Upload</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>ProFormaBalanceSheetUpload3</name>
                    <extensionName>forceContent:fileUpload</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Pro Forma Balance Sheet Upload</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Project_Total_CostChoice</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Total_Project_Costs_of_200_000_and_greater</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>viiSection</name>
            <fieldText>vii.</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>viiSection_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ProjectInformation</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Project Information: &lt;/strong&gt;The REAP Federal grant share is up to a maximum of 25% unless the project meets one of the following criteria: a) is located in a designated energy community; b) is proposed by a Tribal entity; c) is an energy efficiency improvement project; or d) is a renewable energy system or retrofit of a renewable energy system that produces zero greenhouse gas emissions (GHGE) at the project level. &lt;strong&gt;Identify the type of energy project to be funded, supported by attached energy assessment or audit, technical report or vendor certification, or feasibility study as applicable.&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Energy_Project_Type</name>
                    <choiceReferences>A_Energy_Efficiency_Improvement</choiceReferences>
                    <choiceReferences>Renewable_Energy_System_Non_GHGE</choiceReferences>
                    <choiceReferences>Renewable_Energy_System_emits_GHGE</choiceReferences>
                    <choiceReferences>Hybrid</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Energy Project Type</fieldText>
                    <fieldType>MultiSelectCheckboxes</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Non_GHGE_Type</name>
                    <choiceReferences>with_storage_component</choiceReferences>
                    <choiceReferences>Retrofit_of_existing_RES_Non_GHGE</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Non-GHGE Type</fieldText>
                    <fieldType>MultiSelectCheckboxes</fieldType>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Energy_Project_Type</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Renewable_Energy_System_Non_GHGE</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Technology_Type_Non_GHGE</name>
                    <choiceReferences>Solar_Electric_PV</choiceReferences>
                    <choiceReferences>Thermal</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Technology Type</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <helpText>&lt;p&gt;Please indicate applicable renewable energy technology:&lt;/p&gt;</helpText>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>Energy_Project_Type</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Renewable_Energy_System_Non_GHGE</elementReference>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Energy_Project_Type</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>RES_emits_GHGE</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>RES_emits_GHGE</name>
                    <choiceReferences>Anaerobic_Digester</choiceReferences>
                    <choiceReferences>Biogas_including_landfill_gas</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>RES (emits GHGE)</fieldText>
                    <fieldType>MultiSelectCheckboxes</fieldType>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Energy_Project_Type</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Renewable_Energy_System_emits_GHGE</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>HybridDisplayText</name>
                    <fieldText>&lt;p&gt;Hybrid (two or more technologies supporting a single system), select technologies above and describe how they work together to support a single system:&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Energy_Project_Type</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Hybrid</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>HybridExplination</name>
                    <dataType>String</dataType>
                    <fieldText>Hybrid Explination</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Energy_Project_Type</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Hybrid</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Project_Description</name>
            <fieldText>Project Description</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Project_Description_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ProjectDescrtiption</name>
                    <fieldText>&lt;p&gt;Provide a detailed description of the technology and its intended purpose (energy replacement, netmetered, sold, self-use energy), the project location (address) and the specific site of the project at the project location. Describe utility relationships (interconnection, net metering, power purchase agreements, etc.) and attach agreements to document established rates to be paid for energy being sold or replaced.&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Main_Corporate_Office_State</name>
                    <choiceReferences>MainCorporateOfficeStateChoiceSet</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Main/Corporate Office State</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Describe_your_Project</name>
                    <fieldText>Describe your Project:</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Project_Economic_Assessment</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Project Economic Assessment:&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Project_Cost_BreakdownSection</name>
            <fieldText>1. Project Cost Breakdown:</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Project_Cost_BreakdownSection_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ProjectCostBreakdown</name>
                    <fieldText>&lt;p&gt;Construction Item: (Break down total project costs by providing a list of major equipment, labor costs, fees, and other costs associated with the project. Provide useful life information on major system components. Detailed bids may be attached to support total project costs.):&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Project_Information_Section9</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Project_Information_Section9_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Construction_Items</name>
                    <dataType>String</dataType>
                    <fieldText>A. Construction Items</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Project_Information_Section9_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Useful_Life</name>
                    <dataType>String</dataType>
                    <fieldText>Useful Life</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Project_Information_Section9_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Cost</name>
                    <dataType>Currency</dataType>
                    <fieldText>Cost $</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Project_Information_Section10</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Project_Information_Section10_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Project_Information_Section10_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Project_Information_Section10_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>AddConstructionItem</name>
                    <extensionName>flowruntime:toggle</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>messageToggleActive</name>
                        <value>
                            <stringValue>Add</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageToggleInactive</name>
                        <value>
                            <stringValue>No</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>disabled</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Add Item</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Construction_Item_List</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>RD_REAP_Project_Equipment__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Construction Item List</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>varProejctEquipment</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;RD_REAP_Construction_Item__c&quot;,&quot;guid&quot;:&quot;column-4d48&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Construction Item&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;RD_REAP_Useful_Life__c&quot;,&quot;guid&quot;:&quot;column-bfe5&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Useful Life&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;RD_REAP_Item_Cost__c&quot;,&quot;guid&quot;:&quot;column-79ec&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Item Cost&quot;,&quot;type&quot;:&quot;currency&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Project_Information_Section11</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Project_Information_Section11_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Project_Information_Section11_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ProjectCostsDisplayText</name>
                    <fieldText>&lt;p&gt;B. Total Project Costs:&lt;/p&gt;&lt;p&gt;(Total Project Costs should be the same as in Form SF-424C, “Budget Information-Construction Programs.”)&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Eligible_Project_Costs</name>
                    <fieldText>&lt;p&gt;C. Eligible Project Costs: (See Instructions to determine eligible project costs.&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Project_Information_Section11_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Total_Project_Costs</name>
                    <dataType>Currency</dataType>
                    <fieldText>Total Project Costs</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                </fields>
                <fields>
                    <name>Eligible_Project_Cost_Total</name>
                    <dataType>String</dataType>
                    <fieldText>Eligible Project Costs</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Project_Information_Section12</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Project_Information_Section12_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>IneligibelProjectCost</name>
                    <fieldText>&lt;p&gt;D. In-Eligible Project Costs: Provide details for any known in-eligible project costs, including but not limited to, down payments made prior to date of application or the prorated portion of residential related renewable energy system costs.&amp;nbsp;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>EstimatedProjectEnergyGeneration</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;2. Estimated Project Energy Generation or Savings and Cost of Energy. The Agency may request additional information to substantiate energy quantity, units, and rates if necessary.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>For_Renewable_Energy_Systems</name>
            <fieldText>A. For Renewable Energy Systems</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>For_Renewable_Energy_Systems_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>RenewableEnergyGeneratedDisplayText</name>
                    <fieldText>&lt;p&gt;i. Annual amount of renewable energy to be generated and unit of energy: &lt;/p&gt;&lt;p&gt;-Attach Vendor/Installer certified projections, renewable energy site assessment,&lt;/p&gt;&lt;p&gt; or other documentation to validate the total amount of energy to be generated,&lt;/p&gt;&lt;p&gt; including the quality and availability of the renewable resource to the project.&amp;nbsp;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>For_Renewable_Energy_Systems_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Total_Estimated_GenerationAnnual</name>
                    <dataType>Number</dataType>
                    <fieldText>a. Total Estimated Generation</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>GenerationUnit</name>
                    <choiceReferences>kWh</choiceReferences>
                    <choiceReferences>BTU</choiceReferences>
                    <choiceReferences>Other_Unit</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>b. Unit:</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Other_Unit_Explained</name>
                    <dataType>String</dataType>
                    <fieldText>Other Unit Explained</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Project_Information_Section14</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Project_Information_Section14_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>DocumentedUseDisplayText</name>
                    <fieldText>&lt;p&gt;ii. Documented use (renewable energy sold,&amp;nbsp;&lt;/p&gt;&lt;p&gt;metered/credited, or for direct-use, unit of measurement,&amp;nbsp;&lt;/p&gt;&lt;p&gt;price per unit, dollar value and name of utility/offtaker, as&amp;nbsp;&lt;/p&gt;&lt;p&gt;applicable.&amp;nbsp;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;-Attach power purchase agreement to document&amp;nbsp;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;quantity of energy sales and price/unit to be paid for&amp;nbsp;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;energy.&amp;nbsp;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&amp;nbsp;-Attach utility net metering, virtual net metering, energy&amp;nbsp;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;crediting policies or agreements, or letter from utility&amp;nbsp;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;which shows rate to be paid for excess energy.&amp;nbsp;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;Direct Use Energy:&amp;nbsp;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&amp;nbsp;- Must have at least 12 months of historical energy use&amp;nbsp;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;to score as replacement. Attach at least 12 months&amp;nbsp;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;of utility bills to document average historical price paid&amp;nbsp;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;for direct use replacement energy;&amp;nbsp;&lt;/p&gt;&lt;p class=&quot;ql-indent-2&quot;&gt; When calculating the actual average price per unit&amp;nbsp;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;of energy, only include energy charges directly reduced&amp;nbsp;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;by the unit of energy being replaced or saved, e.g. do&amp;nbsp;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;not include monthly service fees, demand or other&amp;nbsp;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;charges if not directly reduced; or&amp;nbsp;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&amp;nbsp;-Attach documentation of conventional energy price for&amp;nbsp;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;direct use new construction or off-grid applications.&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>PowerPurchaseAgreementUpload</name>
                    <extensionName>forceContent:fileUpload</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Power Purchase Agreement</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>UtilityNetMeteringUpload</name>
                    <extensionName>forceContent:fileUpload</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Utility Net Metering</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>DirectUseEnergyPricingUpload</name>
                    <extensionName>forceContent:fileUpload</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue> Direct Use Energy Pricing</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Project_Information_Section14_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Total_Estimated_GenerationEnergySold</name>
                    <dataType>Number</dataType>
                    <fieldText>A. Total Estimated Generation</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>EnergySoldUnit</name>
                    <choiceReferences>kWh</choiceReferences>
                    <choiceReferences>BTU</choiceReferences>
                    <choiceReferences>Other_Unit</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>B. Unit</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Price_UnitEnergySold</name>
                    <dataType>Currency</dataType>
                    <fieldText>C. Price/Unit</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                </fields>
                <fields>
                    <name>Value_a_x_cEnergySold</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>forPriceperUnit</elementReference>
                    </defaultValue>
                    <fieldText>D. Value (A x C)</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Name_of_Utility_OfftakerEnergySold</name>
                    <dataType>String</dataType>
                    <fieldText>E. . Name of Utility/Offtaker</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>A_Energy_Metered_Credited</name>
                    <dataType>Number</dataType>
                    <fieldText>A. Energy Metered/Credited</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>B_UnitEnergyMeteredCredited</name>
                    <choiceReferences>kWh</choiceReferences>
                    <choiceReferences>BTU</choiceReferences>
                    <choiceReferences>Other_Unit</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>B. Unit</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Price_UnitEnergyMeteredCredited</name>
                    <dataType>Currency</dataType>
                    <fieldText>C. Price/Unit</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>D_Value_A_x_CEnergyMeteredCredited</name>
                    <dataType>Currency</dataType>
                    <fieldText>D. Value (A x C)</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>E_Name_of_Utility_OfftakerEnergyMetered</name>
                    <dataType>String</dataType>
                    <fieldText>E. Name of Utility/Offtaker</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Direct_Use_Energy</name>
                    <dataType>Number</dataType>
                    <fieldText>A. Direct Use Energy</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>UnitDirectEnergyUse</name>
                    <choiceReferences>kWh</choiceReferences>
                    <choiceReferences>BTU</choiceReferences>
                    <choiceReferences>Other_Unit</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>B. Unit</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Price_UnitDirectEnergyUse</name>
                    <dataType>Currency</dataType>
                    <fieldText>C. Price/Unit</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>Value_A_x_CDirectUseEnergy</name>
                    <dataType>Currency</dataType>
                    <fieldText>D. Value (A x C)</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Project_Information_Section15</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Project_Information_Section15_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ByProductOtherRevenueDisplayText</name>
                    <fieldText>&lt;p&gt;&amp;nbsp;iii. &lt;strong&gt;By-product/other revenue quantity&lt;/strong&gt; , description, unit of measurement, documented fair market price per unit,&lt;/p&gt;&lt;p&gt;and dollar value:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;-Do not include government or utility incentives or renewable energy credits&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;that will not be received annually for the life of the project.&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;-Attach documentation on quantity and price of byproduct/other revenue.&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>ByProductOtherRevenueQuantityUpload</name>
                    <extensionName>forceContent:fileUpload</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>By-Product/Other Revenue </stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Project_Information_Section15_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>A_By_product_other_revenue_quantity</name>
                    <dataType>Number</dataType>
                    <fieldText>A. By-product/other revenue quantity</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>DescriptionByProductQuantity</name>
                    <dataType>String</dataType>
                    <fieldText>B. Description</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>UnitByProductQuantity</name>
                    <choiceReferences>kWh</choiceReferences>
                    <choiceReferences>BTU</choiceReferences>
                    <choiceReferences>Other_Unit</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>C. Unit</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Price_UnitByProductQuantity</name>
                    <dataType>Currency</dataType>
                    <fieldText>D. Price/Unit</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>Value_A_x_DByProductQuantity</name>
                    <dataType>Currency</dataType>
                    <fieldText>E. Value (A x D)</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Project_Information_Section16</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Project_Information_Section16_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>HistoricalAnnualAverageDisplayText</name>
                    <fieldText>&lt;p&gt;iv. &lt;strong&gt;Historical annual average energy used by business&lt;/strong&gt;, unit of measurement, average retail price historically paid per unit, and dollar value:&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;-Attach at least 12 months of utility bills to document average historical price paid for business energy.&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;When calculating the actual average price per unit of energy, only include energy charges directly reduced&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;by the unit of energy being replaced or saved, e.g. do not include monthly service fees, demand or other&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;charges if not directly reduced.&amp;nbsp;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Project_Information_Section16_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Historical_Business_Energy_Use</name>
                    <dataType>Number</dataType>
                    <fieldText>A. Historical Business Energy Use</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>UnitHistoricalUse</name>
                    <choiceReferences>kWh</choiceReferences>
                    <choiceReferences>BTU</choiceReferences>
                    <choiceReferences>Other_Unit</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>B. Unit</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Price_UnitHistoricalUsage</name>
                    <dataType>Currency</dataType>
                    <fieldText>C. Price/Unit</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>ValueHistoricalUsage</name>
                    <dataType>Currency</dataType>
                    <fieldText>D. Value</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Project_Information_Section17</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Project_Information_Section17_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>HistoricalResidentialEnergyDisplayText</name>
                    <fieldText>&lt;p&gt;v. If RES project will be connected to a shared meter that connects both the business and a residence, or if the project will virtually net meter or credit energy to be generated by the RES project to a residence off-site from the project, yet owned by the applicant, provide amount of &lt;strong&gt;historical residential energy use &lt;/strong&gt;and unit of measurement: &lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;- Attach annual residential energy use summary with a detailed list of assumptions. &lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;em&gt;Note: 50% or more of projected renewable energy to be generated must benefit the business operation in order for the project to be eligible. Eligible project costs are prorated based on historical business energy consumption.&lt;/em&gt; &lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;A separate meter may also be installed.&amp;nbsp;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Project_Information_Section17_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Historical_Residential_Energy_Use</name>
                    <dataType>String</dataType>
                    <fieldText>A Historical Residential Energy Use</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>UnitHistoricalRESUsage</name>
                    <choiceReferences>kWh</choiceReferences>
                    <choiceReferences>BTU</choiceReferences>
                    <choiceReferences>Other_Unit</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>B. Unit</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>C_A_separate_meter_will_be_installed</name>
                    <choiceReferences>Yes</choiceReferences>
                    <choiceReferences>No</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>C. A separate meter will be installed</fieldText>
                    <fieldType>MultiSelectCheckboxes</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>RD_REAP_Application</name>
        <label>RD REAP Application</label>
        <locationX>776</locationX>
        <locationY>182</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>CreateApplication</targetReference>
        </connector>
        <fields>
            <name>ApplicationTitle</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;U.S. DEPARTMENT OF AGRICULTURE &lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;Rural Development – Rural Business-Cooperative Service&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-family: tahoma; font-size: 22px;&quot;&gt;RURAL ENERGY FOR AMERICA PROGRAM APPLICATION FOR RENEWABLE ENERGY SYSTEMS AND ENERGY EFFICIENCY IMPROVEMENT PROJECTS&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>PrivacyDisclosure</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;NOTE:&lt;/strong&gt; &lt;em style=&quot;font-size: 10px;&quot;&gt;The following statement is made in accordance with the Privacy Act of 1974 (5 USC 552a) and the Paperwork Act of 1995, as amended. The authority for requesting the following information is Section 9007 of the Agricultural Act of 2014 (Public Law 113-79). This information may be provided to other agencies, Internal Revenue Service, Department of Justice, or other State and Federal law enforcement agencies, and in response to a court magistrate or administrative tribunal. The provisions of criminal and civil fraud statutes, including 18 USC 286, 287, 371, 641, 1001; 1014, 15 USC 714m; and 31 USC 3729, may be applicable to the information provided.&lt;/em&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt; &lt;/p&gt;&lt;p&gt;&lt;strong&gt;SUBMIT THIS COMPLETED FORM TO THE USDA RURAL DEVELOPMENT OFFICE IN THE STATE IN WHICH THE PROJECT IS LOCATED. &lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 12px;&quot;&gt;Attached to this form are detailed Instructions for each section. Please refer to the Instructions for guidance when completing this form. Use attachments as necessary.&amp;nbsp;&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Applicant_Information</name>
            <fieldText>i.</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Applicant_Information_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Applicant_First_Name</name>
                    <dataType>String</dataType>
                    <fieldText>Applicant First Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Applicant_Information_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Applicant_Last_Name</name>
                    <dataType>String</dataType>
                    <fieldText>Applicant Last Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>RD_REAP_Application_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>RD_REAP_Application_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>What_is_Applicant_s_race_check_all_that_apply</name>
                    <choiceReferences>Asian_Indian_or_Alaska_Native</choiceReferences>
                    <choiceReferences>Asian</choiceReferences>
                    <choiceReferences>Native_Hawaiian_or_Other_Pacific_Islander</choiceReferences>
                    <choiceReferences>White</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>**i. B.What is Applicant’s race (check all that apply)?</fieldText>
                    <fieldType>MultiSelectCheckboxes</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>What_is_Applicant_s_Gender</name>
                    <choiceReferences>Male</choiceReferences>
                    <choiceReferences>Female</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>**i. C. What is Applicant’s Gender?</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>RD_REAP_Application_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>What_is_Applicant_s_Ethnicity</name>
                    <choiceReferences>Hispanic_or_Latino</choiceReferences>
                    <choiceReferences>Not_Hispanic_or_Latino</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>**i. D. What is Applicant’s Ethnicity?</fieldText>
                    <fieldType>MultiSelectCheckboxes</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Is_Applicant_a_Veteran</name>
                    <choiceReferences>Yes</choiceReferences>
                    <choiceReferences>No</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>i.E. Is Applicant a Veteran?</fieldText>
                    <fieldType>MultiSelectCheckboxes</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Is_Applicant_a_member_of_a_Socially_Disadvantaged_group</name>
                    <choiceReferences>Yes</choiceReferences>
                    <choiceReferences>No</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>i.F. Is Applicant a member of a Socially Disadvantaged group?</fieldText>
                    <fieldType>MultiSelectCheckboxes</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Antidiscrimination_Disclosure</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 10px;&quot;&gt;** The purpose of these questions is to gather race, ethnicity, and gender information about persons who apply and participate in this USDA program. The information provided will not be used when reviewing the application or when determining eligibility to participate in this program. The answers provided are voluntary and are not required to be considered a complete application. The information provided will be used to improve the operation of this program, to help USDA design additional opportunities for program participation, and to monitor enforcement of laws that require equal access to this program for eligible persons. For entities, check all that apply. The information will be kept private to the extent permitted by law.&amp;nbsp;&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ii</name>
            <fieldText>ii.</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>ii_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Project_TItle</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;&amp;nbsp;Project Title&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Project_Title_Block_15_of_SF_4241</name>
                    <dataType>String</dataType>
                    <fieldText>Project Title (Block 15 of SF 424)</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>iii</name>
            <fieldText>iii.</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>iii_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>SAMiD</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;&amp;nbsp;System for Awards Management (SAM) Registration: &lt;/strong&gt;Provide a Unique Entity Identifier (UEI) number upon successful SAM registration.&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>UEI</name>
                    <dataType>String</dataType>
                    <fieldText>UEI:</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;Register at www&lt;/p&gt;</helpText>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>iv</name>
            <fieldText>iv.</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>iv_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ProvideNamesofExecs</name>
                    <fieldText>&lt;p&gt;Provide the name(s) for the Executive Director and person(s) who will be accepting or distributing Federal funds.&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Name_s_of_Executive</name>
                    <fieldText>Name(s) of Executive</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <helpText>&lt;p&gt;Provide the name(s) for the Executive Director and person(s) on separate lines.&lt;/p&gt;</helpText>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>vSection</name>
            <fieldText>v.</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>vSection_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ApplicantTypeCertification</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Type of Applicant (check one): &lt;/strong&gt;&lt;/p&gt;&lt;p&gt;Applicant must certify to meeting the definition of either an Agricultural Producer or Rural Small Business, per 7 C.F.R. 4280.103&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Applicant_Type</name>
                    <choiceReferences>Rural_Small_Business</choiceReferences>
                    <choiceReferences>Agricultural_Producer</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>A. Applicant is applying as and hereby certifies to meeting the definition of (check one):</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>NAICSCODEDisplayText</name>
                    <fieldText>&lt;p&gt;B. Provide primary North American Industry Classification System (NAICS) code for operation:&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>NAICS_Code</name>
                    <choiceReferences>X11NAICSCODE</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>NAICS Code:</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Corresponding_NAICS_size_limitation</name>
                    <dataType>String</dataType>
                    <fieldText>Corresponding NAICS size limitation:</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>vi_Section</name>
            <fieldText>vi.</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>vi_Section_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ApplicantDescriptionQuestions</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Applicant Description: &lt;/strong&gt;Describe the ownership of the applicant, including:&amp;nbsp;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>The_project_s_relationship_to_the_applicant_s_operations_Describe_how_the_prop</name>
                    <dataType>String</dataType>
                    <fieldText>A. The project’s relationship to the applicant’s operations. Describe how the proposed project fits into or operates separately from  the applicant’s overall business or agricultural production operation:</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Describe_how_the_applicant_at_the_time_of_application_award_and_through_the_us</name>
                    <dataType>String</dataType>
                    <fieldText>B. Describe how the applicant, at the time of application, award, and through the useful life, owns the project and owns or controls the site for the project:</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>For_each_entity_ies_the_applicant_controls_or_entity_ies_it_is_controlled_by_p</name>
                    <dataType>String</dataType>
                    <fieldText>C. For each entity(ies) the applicant controls or entity(ies) it is controlled by, provide a list of the owners with their contact information.  Describe the relationship between the applicant and the other entity(ies), including percent of ownership and control, management,  passive investor ownership and any products exchanged. Organizational charts should be submitted when available:</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Advise_if_the_applicant_is_a_Tribal_entity_describe_the_location_of_the_projec</name>
                    <dataType>String</dataType>
                    <fieldText>D. Advise if the applicant is a Tribal entity, describe the location of the project and whether it will be located on Tribal Lands.</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Application_Disclosure</name>
            <fieldText>&lt;p&gt;&lt;em style=&quot;font-size: 9px;&quot;&gt;A federal agency may not conduct or sponsor, and a person is not required to respond to, nor shall a person be subject to a penalty for failure to comply with a collection of information subject to the requirements of the Paperwork Reduction Act unless that collection of information displays a currently valid OMB Control Number. The OMB Control Number for this information collection is 0570-0067. Public reporting for this collection of information is estimated to be approximately 10 hours per response, including the time for reviewing instructions, searching existing data sources, gathering and maintaining the data needed, completing and reviewing the collection of information. &lt;/em&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 9px;&quot;&gt;All responses to this collection of information are voluntary, however in order to obtain or retain a benefit the information in this form is required. Rural Development has no plans to publish information collected under the provisions of this program. Send comments regarding this burden estimate or any other aspect of this collection of information, including suggestions for reducing this burden to: Information Collection Clearance Officer, Rural Development Innovation Center, Regulations Management Division at ICRMTRequests@usda.gov&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <pauseButtonLabel>Save</pauseButtonLabel>
        <pausedText>&lt;p&gt;&lt;strong&gt;Your Application Has Been Saved. &lt;/strong&gt;&lt;/p&gt;</pausedText>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Renewable_Energy_System_Projects</name>
        <label>Renewable Energy System ProjectsScreen</label>
        <locationX>908</locationX>
        <locationY>830</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Energy_Efficiency_Improvement_Projects_Technical_Requirement</targetReference>
        </connector>
        <fields>
            <name>vii_Renewable_Energy_System_Projects</name>
            <fieldText>vii. Renewable Energy System Projects</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>vii_Renewable_Energy_System_Projects_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>TechnicalRequirementsDisplayText</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Technical Requirements: &lt;/strong&gt;Prepare technical report in accordance with 7 C.F.R. 4280.120 (b) (4). *If Hybrid project, submit specific technical information for each technology. If project includes one of the following renewable energy technologies, or a technology as amended in via Federal Register publication, a full technical report is not required: solar, wind, micro-hydro, and geothermal direct use. (For Energy Efficiency Improvement Projects Complete Block IX.)&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>VendorInstallerCertification</name>
                    <fieldText>&lt;p&gt;1. Provide a vendor/installer certification that: &lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;a. the RES project meets the requirements for being commercially available; &lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;b. the RES system will operate and perform over the project’s useful life in a reliable and cost-effective manner, noting associated warranties; &lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;c. the vendor/installer is qualified to complete the project as intended, noting the number of similar systems installed and any professional credentials, licenses and relevant experience; and &lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;d. includes a resource assessment with certified projections on energy to be replaced and/or generated once the proposed system is operating at its steady state operating level, including the quality and availability of the renewable resources to the project. The assessment should include if applicable, historical residential energy use documentation, per section VI(D)(2)(a)(v)).&amp;nbsp;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Feasibility_study_for_project_has_been_conducted_and_is_attached_to_support_the</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Feasibility study for project has been conducted and is attached to support the project.</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Service_Providers_Information</name>
        <label>Service Providers Information</label>
        <locationX>908</locationX>
        <locationY>722</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Renewable_Energy_System_Projects</targetReference>
        </connector>
        <fields>
            <name>ProvidersAndQualifications</name>
            <fieldText>&lt;p&gt;G. Qualifications of Service Providers. Provide information on personnel and companies that will be working to construct and install the project, such as: energy auditor, site assessor, contractor, installer, electrician, etc.&amp;nbsp;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Project_RoleProvider</name>
            <dataType>String</dataType>
            <fieldText>Project Role</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Company_Name_Provider</name>
            <dataType>String</dataType>
            <fieldText>Company Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Service_Providers_Information_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Service_Providers_Information_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Name_Provider</name>
                    <dataType>String</dataType>
                    <fieldText>Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Service_Providers_Information_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>TitleProvider</name>
                    <dataType>String</dataType>
                    <fieldText>Title</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>AddressProvider</name>
            <extensionName>flowruntime:address</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>QualificationsProvider</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Qualifications (Either attach a resume or complete below):&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Number_performed_on_a_similar_system_as_proposed</name>
            <dataType>String</dataType>
            <fieldText>Number performed on a similar system as proposed</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Years_of_Relevant_experience_Provider</name>
            <dataType>String</dataType>
            <fieldText>Years of Relevant experience</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Professional_credentialsProvider</name>
            <dataType>String</dataType>
            <fieldText>Professional credentials (include training and/or  education related to work, certificates, etc.)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Licenses_Provider</name>
            <dataType>String</dataType>
            <fieldText>Licenses</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>650</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>RD_REAP_Application</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>varProejctEquipment</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RD_REAP_Project_Equipment__c</objectType>
    </variables>
    <variables>
        <name>varProjectEqupipment2</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RD_REAP_Project_Equipment__c</objectType>
    </variables>
</Flow>
